<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailseite {{ produkt.name }}</title>
</head>
<body>
    <h1>{{ produkt.name }}</h1>
    
    <!-- TODO Preis anzeigen -->
    <div>Preis: {{ produkt.preis }}</div>
    <!-- TODO Bild anzeigen -->
    <div><img class="img" src="{{ produkt.bild }}"></div>

    <hr>
    
    <!-- TODO Link zurück zur Startseite -->
    <div><a href="/">Zurück zur Startseite</a></div>
    <style>
        .img {
            width: 200px;
        }
    </style>
</body>
</html>